.log {
  min-height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.land {
  animation: float 4s infinite;
  -webkit-animation: float 4s infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
  }
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

.land h1 {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 3rem;
  padding: 20px;
  color: #fff;
}

.ing button {
  padding: 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: none;
}
